**Question :** Load and split the Iris FFNN dataset. Convert the categorical variables into 1’s and 0’s

**Description**  : 

* Load the iris.csv dataset. 
* Drop a columns and split into two data frames
* Convert categorical variables into dummy/indicator variables.

**Level** : Easy

**Input format** : Dataset

**Output format**  : csv values for iris setosa, versicolor and virginica

**Sample Input**  : Load the iris.csv file

**Sample Output**  : Convert categorical variables into dummy variables.

In [2]:
import pandas as pd
data = pd.read_csv ('/home/iba/Downloads/iris/Iris.csv')
data = data.drop(['Id'], axis = 1)
X = data.drop(['Species'] , axis = 1)
Y = data['Species']
Y=pd.get_dummies(Y)
Y.head()

   Iris-setosa  Iris-versicolor  Iris-virginica
0            1                0               0
1            1                0               0
2            1                0               0
3            1                0               0
4            1                0               0