**Question** : Load the iris dataset using pandas and drop the ‘Id’ feature in the dataset. Split the dataset into dependent(Y) and independent(X) features. Using sklearn, split the dataset into training(90%) and testing(10%) sets naming train_x, test_x, train_y and test_y.

**Level** : Hard

**Input format** : Use necessary library and also use separate dataframes then split into train and test

**Output format** :  features and labels of iris dataset

**Sample Input** : Load iris.csv dataset

**Sample Output**  : Features and labels

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv ('/home/metagogy/Downloads/Iris.csv')
data = data.drop(['Id'], axis = 1)
X = data.drop(['Species'] , axis = 1)
Y = data['Species']
from sklearn import preprocessing, model_selection
train_x, test_x, train_y, test_y = model_selection.train_test_split(X,Y,test_size = 0.1, random_state = 0)

In [3]:
train_x

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
37             4.9           3.1            1.5           0.1
78             6.0           2.9            4.5           1.5
90             5.5           2.6            4.4           1.2
45             4.8           3.0            1.4           0.3
16             5.4           3.9            1.3           0.4
..             ...           ...            ...           ...
9              4.9           3.1            1.5           0.1
103            6.3           2.9            5.6           1.8
67             5.8           2.7            4.1           1.0
117            7.7           3.8            6.7           2.2
47             4.6           3.2            1.4           0.2

[135 rows x 4 columns]

In [4]:
test_x

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
114            5.8           2.8            5.1           2.4
62             6.0           2.2            4.0           1.0
33             5.5           4.2            1.4           0.2
107            7.3           2.9            6.3           1.8
7              5.0           3.4            1.5           0.2
100            6.3           3.3            6.0           2.5
40             5.0           3.5            1.3           0.3
86             6.7           3.1            4.7           1.5
76             6.8           2.8            4.8           1.4
71             6.1           2.8            4.0           1.3
134            6.1           2.6            5.6           1.4
51             6.4           3.2            4.5           1.5
73             6.1           2.8            4.7           1.2
54             6.5           2.8            4.6           1.5
63             6.1           2.9            4.7           1.4

In [5]:
train_y

37         Iris-setosa
78     Iris-versicolor
90     Iris-versicolor
45         Iris-setosa
16         Iris-setosa
            ...
9          Iris-setosa
103     Iris-virginica
67     Iris-versicolor
117     Iris-virginica
47         Iris-setosa
Name: Species, Length: 135, dtype: object

In [6]:
test_y

114     Iris-virginica
62     Iris-versicolor
33         Iris-setosa
107     Iris-virginica
7          Iris-setosa
100     Iris-virginica
40         Iris-setosa
86     Iris-versicolor
76     Iris-versicolor
71     Iris-versicolor
134     Iris-virginica
51     Iris-versicolor
73     Iris-versicolor
54     Iris-versicolor
63     Iris-versicolor
Name: Species, dtype: object