**Question** :  Create a dictionary with five fields each which is mentioned in sample input. Convert the created dictionary into a dataframe using pandas. Delete the ‘A’ feature in the dataframe as mentioned in sample output.

**Level** : Hard

**Input format** :  Converts the dictionary of values to dataframe

**Output format** :  Prints the features and labels

**Sample input** : 

Create a dictionary of values and convert to dataframe

Column A values as A1,A2,A3,A4,A5 

Column B values as B1,B2,B3,B4,B5 

Similarly C,D and E column values

**Sample Output** : 

Displays the features and labels

In [1]:
import pandas as pd

In [2]:
data = { 
    'A':['A1', 'A2', 'A3', 'A4', 'A5'], 
    'B':['B1', 'B2', 'B3', 'B4', 'B5'], 
    'C':['C1', 'C2', 'C3', 'C4', 'C5'], 
    'D':['D1', 'D2', 'D3', 'D4', 'D5'], 
    'E':['E1', 'E2', 'E3', 'E4', 'E5'] }

In [3]:
df = pd.DataFrame(data) 
for col in df.columns: 
    if 'A' in col: 
        del df[col]

In [4]:
df

    B   C   D   E
0  B1  C1  D1  E1
1  B2  C2  D2  E2
2  B3  C3  D3  E3
3  B4  C4  D4  E4
4  B5  C5  D5  E5