**Question** : Load the iris.csv and drop the ‘id’ feature. Separate the dataset training(50%) and testing(50%) using names as train_x, test_x, train_y, test_y.

**Description** :

Load the iris dataset using pandas and drop the ‘id’ feature. 

Separate the dataset into dependent(Y) and independent(X) features. 

Using sklearn, split the dataset into training(50%) and testing(50%) using names as train_x, test_x, train_y, test_y.

**Level** : Hard

**Input format** : Use necessary library and also use separate dataframes then split into train and test

**Output format** : Splitting into training and testing

**Sample Input** : Load iris.csv dataset

**Sample Output**  :  Splitting the dataset into 50 % training and 50% testing

In [1]:
import pandas as pd

In [2]:
from sklearn import preprocessing, model_selection

In [3]:
data = pd.read_csv ('/home/metagogy/Downloads/Iris.csv')
data = data.drop(['Id'], axis = 1)
X = data.drop(['Species'] , axis = 1)
Y = data['Species']
train_x, test_x, train_y, test_y = model_selection.train_test_split(X,Y,test_size = 0.5, random_state = 0)

In [4]:
train_x

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
3              4.6           3.1            1.5           0.2
149            5.9           3.0            5.1           1.8
98             5.1           2.5            3.0           1.1
6              4.6           3.4            1.4           0.3
68             6.2           2.2            4.5           1.5
..             ...           ...            ...           ...
9              4.9           3.1            1.5           0.1
103            6.3           2.9            5.6           1.8
67             5.8           2.7            4.1           1.0
117            7.7           3.8            6.7           2.2
47             4.6           3.2            1.4           0.2

[75 rows x 4 columns]

In [5]:
train_y

3          Iris-setosa
149     Iris-virginica
98     Iris-versicolor
6          Iris-setosa
68     Iris-versicolor
            ...
9          Iris-setosa
103     Iris-virginica
67     Iris-versicolor
117     Iris-virginica
47         Iris-setosa
Name: Species, Length: 75, dtype: object