**Question** : Create a dictionary containing Name,Age,University as features which is mentioned in sample input. Convert the dictionary into a dataframe using pandas by mentioning index as a,b,c,d. Drop the ‘c’ row index in the data frame and print the updated dataframe.

**Level** : Hard

**Input format** : Create a dictionary and convert to dataframe then remove specific row

**Output format** : Features and labels

**Sample input** : 
    
Create a dictionary of objects and convert to dataframe

Name column are Arun, Rahul, Deeraj, Shiva

Age column values are 22, 25, 21, 20

University column are IIT, NIT, MIT, IIIT

**Sample Output** :  


Features and labels

In [1]:
import pandas as pd

In [2]:
details = { 
    'Name' : ['Arun', 'Rahul', 'Deeraj', 'Shiva'], 
    'Age' : [22, 25, 21, 20], 
    'University' : ['IIT', 'NIT', 'MIT', 'IIIT'], 
}

In [3]:
df = pd.DataFrame(details, columns = ['Name', 'Age', 'University'], 
                index = ['a', 'b', 'c', 'd'])

In [4]:
update_df = df.drop('c')

In [5]:
update_df

        Name  Age University
a      Ankit   23        BHU
b  Aishwarya   21        JNU
d   Shivangi   21        BHU