**Question** : Create an array with values [[1, 2], [6, 3], [8, 4], [9, 5], [np.nan, 4]]. Using pandas create the two featured data frames  and delete missing or null values.

**Level** : Medium

**Input format** :  create a dataframe

**Output format** : list of array values to dataframe values i.e features and labels

**Sample input** : 
    
Create a tuple of lists

**Sample Output** :
    
Features(columns) and labels ( rows )

In [1]:
import numpy as np
import pandas as pd

In [2]:
X = np.array([[1, 2],[6, 3],[8, 4],[9, 5],[np.nan, 4]])

In [3]:
df = pd.DataFrame(X, columns=['feature_1', 'feature_2'])

In [4]:
df

   feature_1  feature_2
0        1.0        2.0
1        6.0        3.0
2        8.0        4.0
3        9.0        5.0
4        NaN        4.0

In [5]:
df.dropna()

   feature_1  feature_2
0        1.0        2.0
1        6.0        3.0
2        8.0        4.0
3        9.0        5.0